%div[question]
	#quiz_id
		%strong Quiz:
		= question.quiz_id
	#content
		%strong Content:
		= question.content
	#extra_content
		%strong Extra content:
		= question.extra_content
	#point_value
		%strong Point value:
		= question.points_value
