#child_main_screen
	
	.boxes
		= render @assignments #render @relevant_assignment 
	
	-# unless @current_user.activities.empty?
		#home_activity.boxes
			%h3
				News
			.activity
				= render @current_user.activities.order("created_at desc")
	%br
	%br
	%br
	%br

= render 'child/right_column'




