
%h1
	= @quiz.name
	Summary

.objective_dash.clearfix

	Congratulations!  You've taken the quiz and earned
	= @points_earned.to_i
	cherries!
	%br
	%br
	=link_to 'Return', home_path,  :class => 'button green'
