.clear
%h1
	= @quiz.name
.objective_dash.clearfix

	%h1 
		Congratulations!  
	You have completed this activity and earned 
	= @points_earned.to_i
	cherries!
	%br
	#new_award.award_modal{ :id => (rand(4)+1), :title => "You did it!" }
		.bird
		.bubble
	%br
	=link_to 'Continue', home_path,  :class => 'button green'
