- content_for :left_column do
	%h1 
		= @quiz.name
	Description:
	%p
		= @quiz.description
	Worth:
	= pluralize @quiz.point_value, "Point"

	.actions
		= link_to "Take the Quiz", quiz_question_path( @quiz, @quiz.first_question )

