.archived_note{ :class => note.font_class }
	.archived_note_actions
		View
		| 
		Reply
		|
		Trash
		
	.subject
		= note.subject
	.from
		From:
		= note.sender.nickname( @current_user )
	.content
		= note.content



