.cork_board
	.note_nav.schoolbell.clearfix
		.black_button.new_note
			=link_to content_tag(:span, 'Write a Note'), new_note_path
		.black_button.all_notes
			=link_to content_tag(:span, 'Note Board'), archive_notes_path
	.note_main
		- if @notes.empty?
			.note_header{:style => 'color:white'}
				%span
					No Unread Notes
			.note_content{:style => 'color:white'}
				Send a note to get a note ;-)
		- for note in @notes
			= render "archived", :note => note
		
	%br.clear


