- if @current_user.is_child?
	= render 'child/nav'
- else
	= render 'adult/nav'
.cork_board
	.note_nav.schoolbell.clearfix
		.black_button.new_note
			=link_to content_tag(:span, 'Write a Note'), new_note_path
		.black_button.all_notes
			=link_to content_tag(:span, 'Note Board'), archive_notes_path
	.note_main
		- for note in @notes
			= render "archived", :note => note
		
	%br.clear


