.bundle
.DS_Store
db/*.sqlite3
log/*.log
tmp/**/*
public/index.html
public/blog
public/cache
public/system/**/*
public/stylesheets/ie.css
public/stylesheets/screen.css
public/stylesheets/underground.css
public/stylesheets/home.css
public/stylesheets/homepage.css
public/stylesheets/app.css
public/stylesheets/print.css

public/javascripts/tiny_mce/*
assets/**/*
config/database.yml
db/schema.rb
**/.DS_Store

