.banner_name
	%h1
		= possessize @current_user.display_name.capitalize
		Home
	= @current_user.checkins.update.last.content unless @current_user.checkins.update.empty?
.banner_points
	= @current_user.point_balance
	= image_tag "cherry.png", :class => 'cherry'
.clear