%div[child]
	= render "child_nav", :child => child

	.child_dash.clearfix
		.floatted_box
			%h3
				Objectives
			%div.text
				Something here
		
		.floatted_box
			%h3
				Awards
			%div

		.floatted_box
			%h3
				Send a Note
			%div
		
		.floatted_box
			%h3
				Recent Activities
			%div
				- for activity in Activity.feed( child )
					= render activity
		