%div[child]
	= render "children/sub_nav", :child => child

	.child_dash.clearfix
		.floatted_box
			%h3
				Objectives
			%div.text
				Something here
		
		.floatted_box
			%h3
				Awards
			%div.text

		.floatted_box
			%h3
				Send a Note
			%div.text
		
		.floatted_box
			%h3
				Recent Activities
			%div.text
				- for activity in Activity.feed( child )
					= render activity
		