.child_profile
	- if @current_user.children.empty? && @current_user.supported_children.empty?
		%h2 Welcome to CherryTree!
		Create a log in for your child, then follow easy steps to set up goals, activities, and rewards to encourage well-rounded growth through consistent positive reinforcement.
		%br
		%br
	%h3 Add a Child
	= form_for @child, :html => { :multipart => true } do |f|
		= render 'form', :f => f
