Hello 
=@parent.display_name
,
%br
%br
= @child.name 
has unlocked: 
= @award.name

%p
	= link_to 'Click Here to Display and Print the Award', print_award_url( @award, :child_id => @child.id )

%p
	Congratulations to 
	= @child.name
	from all of us at theCherryTree.com!