%p
	Hi
	= @user.name
	!
%p
	It seems you've asked to reset your password.
%p
	To do so, just click on the link below or copy and paste the URL into your browser:
	= link_to "Reset My Password", reset_url( :token => @user.remember_token,  :host => 'thecherrytree.com' )

%p
	You can then change your password to anything you'd like.  This URL will be valid for 24 hours.

%p
	Thanks!
	%br
	&#45; The 
	= @current_site.name
	Team 

%p.small
	Please do not reply to this message; it was sent from an unmonitored email address. This message is a service email related to your use of 
	= @current_site.name
	&#46;