
%p Hello and welcome to CherryTree!
%p We hope that CherryTree becomes an invaluable tool for helping you and your child achieve your goals.  If you have any questions please feel free to contact us at http://thecherrytree.com/contacts/new.  

%p Best regards,
%p 
	The 
	= @current_site.name 
	Team