.amzn_item.clearfix
	.amzn_title
		= item.get("ItemAttributes/Title")
		- unless item.get('ItemAttributes/ListPrice/FormattedPrice').blank?
			(
			= item.get('ItemAttributes/ListPrice/FormattedPrice')
			)
	.amzn_thumb.float_left
		= image_tag( item.get_hash( 'LargeImage' )['URL'], :width => 96 ) if item.get_hash( 'LargeImage' ).present?
	.amzn_data.float_left
		.amzn_desc
			= truncate( item.get('EditorialReviews/EditorialReview/Content').html_safe, :length => 600, :separator => ' ' ) if item.get('EditorialReviews/EditorialReview').present?