- content_for :left_column do
	%h1 Editing <%= singular_name.capitalize %>
	= link_to 'Show', @<%= singular_name %>

	= form_for @<%= singular_name %> , :html => { :mutipart => true } do |f|
		= render :partial => 'form', :locals => { :f => f, :m => 'Update' }



