- content_for :left_column do
	%h1 New <%= singular_name.capitalize %>

	= form_for @<%= singular_name %> , :html => { :mutipart => true } do |f|
		= render :partial => 'form', :locals => { :f => f, :m => 'Create' }
