#blog_list
	float: left
	width: 585px
#blog_sidebar
	float: right
	width: 300px
	:padding 10px
	
.sidebar_sections
	:margin-bottom 15px

.recent_posts
	:padding 5px 10px 10px
	+rounded(5px)
	 
.section_title
	:background-color #eee
	:border-top 1px solid #aaa
	:border-left 1px solid #aaa
	:border-right 1px solid #aaa
	:padding 2px 5px
	:font-size 115%
	:margin-top 1em
	
.recent_title
	:font-size 115%
	:padding 10px 3px 0 5px

.recent_preview
	:padding 10px 3px 0 5px

.recent_posts
	:font-size 12px
	:padding-bottom 15px
	:background-color #fff

.article 
	:margin 10px 0 20px 0
	:padding-bottom 20px

.article_header
	h2 h3
		:margin-top 1em
		:margin-bottom 0px
.article_meta
	:font-size 85%
	:padding 1px 0 1px 5px
.article_body
	:margin-top 1em

#comments
	:margin-top 1em
	
.comment
	margin-left: 12px
	.pic
		float: left
		margin-right: 4px
		img
			width: 36px
	.header
		.byline
			font-size: 75%
	.content
		width: 80%
		margin-left: 44px
		+rounded(4px)
		border: 1px solid #999
		background: #eee url() no-repeat
	
#recap
	:width 500px
	

#article_topics
	:padding 0 5px
	:margin-bottom 10px