.child_profile
	:background-color #fff
	:border 1px solid #ccc
	+rounded(6px)
	-moz-border-radius-top-left: 0
	-webkit-border-top-left-radius: 0
	border-top-left-radius: 0
	:padding 20px
	.top-header
		:border-bottom 1px solid #ddd
		:padding 15px 0
		:margin-bottom 20px
		.title
			:font-size 17px
			:font-weight bold
			:line-height 30px
	td
		:padding 5px 0
	.form_group
		label
			:width 120px
			:padding-top 5px
	&.edit_profile
		.button_flat
			:padding 7px 15px
		.divider
			:margin 20px 0
			:border-top-color #ddd
		img
			+rounded(10px)
.top-header
	h3
		:float left
.boxes
	width: 33%
	padding: 10px 15px 20px
	margin-top: 15px
	float: right
	+rounded(10px)
	:border 1px solid #ddd
	:background-color #fff

.banner_name
	:float left
	:margin-left 10px
	:font-size 180%
	+ct_title(#0092b7)
	
.banner_points
	:font-size 40px
	:float right
	
#child_main_screen
	:width 58%
	min-height: 800px
	float: left
	.activity
		:width 99%
		.new_comment
			input[type="text"]
				:width 69.7%
		.comment_box
			:width 78%
	.boxes
		:float none
		:width auto

#home_prizes
	&.boxes
		:padding-right 0
		:width 34.6%

.treasure_item
	text-align: center
	width: 40.5%
	:margin 5px 15px 10px 0
	+rounded(5px)
	float: left
	border: 1px solid #ddd
	padding: 10px 5px
	font-size: 12px
	:background url(/images/gradient_bg.jpg) repeat-x left bottom #fff
	.item
		:height 50px
		:overflow hidden
		:margin 7px 0
		img
			:height 100%
	b
		:display block
		:white-space nowrap
		:overflow hidden
		:width 98%
	.cost
		:margin 10px 0 7px
		:font-weight bold
		:font-size 12px

#awards
	:background-color #fff
	:padding 10px 10px 30px
	+rounded(6px)
	:border 1px solid #ccc
	:margin-top 20px
	.item
		:height 70px
	.item_name
		:min-height 30px
	.treasure_item
		:width 150px
		:min-height 170px

.objectives
	// :border 1px solid #
	:padding 10px 12px
	:background-color #d6e9f2
	:margin-top 15px
	+rounded(6px)
	#checkin_content
		:float left
		:width 71%
		:margin-top 3px
	.actions
		:float right
		:width 20%
		img
			:margin-left 4px
.objective_dash
	:background-color #fff
	:padding 10px 10px 30px
	+rounded(6px)
	:border 1px solid #ccc
	:margin-top 20px
	.objectives
		:float left
		:width 44%
		:margin-right 20px
		&.checked
			:background-color #e1e1e1
		p
			:margin-top 8px
		#checkin_content
			:width 65%
			:margin-right 20px
			
#home_news
	h3
		:margin-bottom 15px
	.activity
		font-size: 12px
	p
		:padding 0 5px 5px
		:margin-bottom 8px
		:border-bottom 1px solid #ddd
	.button_flat
		:float right
		:padding 0 10px
		:text-align center
		a
			:color #fff
			:font-size 12px
	img 
		:float left
		:margin-right 10px
		
#home_notes
	float: left
	width: 36%
	margin-top: 10px
	padding: 10px
	+rounded(10px)
	+shadow
	margin-left: 10px
	
#home_journal
	float: left
	width: 36%
	margin-top: 10px
	padding: 10px
	+rounded(10px)
	+shadow
	margin-left: 10px
	
.treasure_box
	+rounded(6px)
	:margin 40px 15px 5px 0
	:padding 10px 12px
	:background-color #60a4c2
	:position relative
	img
		:position absolute
		:top -20px
		:left -6px
	a
		:font-size 21px
		:color #fff
		&:hover
			:text-decoration none
	.col
		:float right
		:width 58%
	
	
.cherry
	width: 35px
	vertical-align: bottom
	
.checkin
	margin: 5px
