$width-main: 100%
$page-width: 980px

// Functions

=flash( $color ) 
	:border 2px solid $color
	:cursor pointer
	:padding 9px 10px 10px 15px

=clearfix
	:content "."
	:display block
	:height 0
	:clear both
	:visibility hidden

=rounded($radius: 4px)
	-moz-border-radius: $radius
	-khtml-border-radius: $radius
	-webkit-border-radius: $radius
	border-radius: $radius

=rounded-side($side, $radius: 4px)
	-moz-border-radius-#{$side}left: $radius
	-webkit-border-#{$side}-left-radius: $radius
	border-#{$side}-left-radius: $radius
	-moz-border-radius-#{$side}right: $radius
	-webkit-border-#{$side}-right-radius: $radius
	border-#{$side}-right-radius: $radius

=shadow($x: 1px, $y: 2px, $offset: 8px)
	box-shadow: $x $y $offset #888888
	-moz-box-shadow: $x $y $offset #888888
	-webkit-box-shadow: $x $y $offset #888888

=alpha_bg($x)
	background: rgba(255, 255, 255, $x)


=top_menu($side: right)
	:padding 7px 0
	:margin-left 20px
	li
		:float left
		:margin-#{$side} 20px
		a
			:vertical-align baseline
			:font-size 11px
			:font-weight bold
			:padding 3px 14px 3px 2px
			:background transparent url() no-repeat 100% 44%


			
.clear
	:clear both
	
.pad
	:margin 10px
			
// Links
a
	:color $link
	:text-decoration none
	&:hover
		:text-decoration underline
p
	:margin 15px
li
	:margin-left 15px
// Headers
h1
	:font-size 200%
h2
	:font-size 175%
h3
	:font-size 135%
h4
	:font-size 115%
h5
	:font-weight bold
h1, h2, h3, h4, h5
	:color $link
	:margin 0 0 4px 1px
		
		
em
	font-style: italic
	
blockquote
	border-left: 1px solid #999
	margin-left: 30px
	margin-right: 25px

strong
	font-weight: bold
	
	
// Flashes
#flash
	:width 96%
	:margin 20px auto
	.error
		:background #ffd1d6 url(../images/close_error.png) 99% 15% no-repeat
		+flash( #ff3333 )
		+rounded(12px)
	.success
		:background #e6efc2 url(../images/close_success.png) 99% 15% no-repeat
		+flash( #c6d880 )
		+rounded(12px)
	.notice
		:background #fff6bf url(../images/close_notice.png) 99% 15% no-repeat
		+flash( #ffd324 )
		+rounded(12px)
			
// Forms
.form_group
	+rounded
	:border 1px solid #999
	:background-color #eee
	:width 90%
	:margin 0 auto
	:padding 20px

textarea
	+rounded
	:width 500px
	:display block
	
.small_area
	height: 150px
	
input.email_collect
	:font-size 24px
	:padding 6px
	:background #f9f9f9
	:border 1px solid #eee
	+rounded(15px)
	

.ct_button
	:background #98cd65 url() no-repeat
	:border 6px solid #b7ea87
	+shadow
	:color #ffffff
	:font-family "Corben", arial, sans-serif
	:font-weight bold
	:padding 6px 6px 0px 6px
	:font-size 16px
	+rounded(20px)
	:cursor pointer
	&:hover
		:background-color #98cd65 + #111
		:border 6px solid #b7ea87 + #111




label
	:padding 4px 3px
	:display block
	
.title_field
	:font-size 120%
	:font-weight bold
	:width 500px
	:padding 4px
	:margin-bottom 18px


.admin_title
	:float left
.new_button
	:margin-right 1em
	:float right
	:padding 5px
	:text-align center
	:width 140px
	:border 1px solid $link
	:background-color #eee
	:font-size 85%
	+rounded( 4px )
	img
		:vertical-align middle
		:margin-top -4px
		
.admin_header
	:margin-top 10px
	:margin-bottom 20px
.admin_table
	:border 1px solid #999
	+rounded( 8px )
	:width 100%
	th
		:padding 5px
		:font-weight bold
		:text-align left
	td
		:padding 5px
		
.label
	:float left
	:width 200px
	:font-weight bold
	:margin 5px 0px
.data
	:margin 5px 0px
	:float left
	:width 300px
		
.current
	:padding-right 24px
	:background-repeat no-repeat
	:background-position right center
.asc
	:background-image url( "../images/arrow_up.png" )
.desc
	:background-image url( "../images/arrow_down.png" )


.new
	:float right
	
.divider
	:width 66%
	:margin 0 auto
	:border-bottom 1px solid #ddd
	:display block
	:clear both
	:height 20px
	:margin-bottom 20px
	
	
.birthday_field
	:width 100px
	
	
	
	