/* =Structure */
html
	:background #d2e9df url(../images/bg_bottom.jpg) repeat-x left bottom

body
	:background transparent url(../images/bg_top.jpg) repeat-x left top
	
#wrapper
	:background transparent url(../images/tree.png) no-repeat left bottom
	:position relative
	:z-index 2
	
#container
	:width $page-width
	:margin auto
	:behavior url(/javascripts/PIE.php)

#hd
	:width $page-width
	:margin-bottom 40px
	.logo
		:margin 10px 10px 30px
		:width 100px
	.nav
		:float right
		:margin-top 40px
		:margin-right 20px

#bd
	:position relative
	:z-index 5
	:width $page-width
	:min-height 590px

.nav
	a
		:margin-left 6px
	
#content
	+alpha_bg
	+rounded(20px)
	:padding 30px
	:border 1px solid #fff

	.disclaimer
		font-size: 12px
	h1
		+ct_title(#0092b7)
	h2
		+ct_title(#0092b7)
	h3
		+ct_title(#0092b7)

.button_to
	display: inline
	
#ft
	color: #ceb58a
	min-height: 50px
	:margin-top 180px
	a
		color: #ceb58a
	.copyright
		float: left
		padding: 10px
	.footer_menu
		float: right
		padding: 10px
		li
			display: inline
			list-style: none
		
	

	
