/* =Structure */
html
	:background #d2e9df url(../images/bg_bottom.jpg) repeat-x left bottom

body
	:background transparent url(../images/bg_top.jpg) repeat-x left top
	
#wrapper
	:background transparent url(../images/tree.png) no-repeat left bottom
	:position relative
	:z-index 2
	
#container
	:width $page-width
	:margin auto

#hd
	:width $page-width
	:height 50px
	:margin-bottom 40px
	.logo
		:margin 10px 10px 0
		:width 100px
	.nav
		:float left
		// :width 700px
		:margin-top 20px

	.user_capsule
		background: #eee url() no-repeat
		:min-width 250px
		+rounded(5px)
		border: 1px solid #999
		padding: 5px
		float: right
		margin-top: 20px
		margin-right: 20px
		.pic
			+rounded(2px)
			float: left
			width: 36px
			:margin 2px 5px 0px 5px
			img
				+rounded(3px)
#logo
	:width 150px
	:float left

#bd
	:position relative
	:z-index 5
	:width $page-width
	:min-height 590px

.nav
	a
		:margin-left 6px

#main-nav
	+rounded
	:padding 0 5px
	:margin 5px
	:background-color #60a3c1
	li
		list-style: none
		display: inline
		margin: 5px 10px
		&.more
			:padding-left 15px
			:margin-left 5px
			:background url(../images/arrow_down_white.png) no-repeat 0 50% transparent
	a
		:display block
		:line-height 16px
		:text-decoration none
		:color #edf5f8
		:font-weight bold
		:font-size 14px
	ul
		:float left
	ul li
		:font-size 108%
		:color #fff
		:float left
		:position relative
		:margin 0
		:padding 10px 10px 9px
		:cursor pointer
	ul ul
		:background-color #fff
		:border 1px solid #60A3C1
		:display none
		:position absolute
		:top 34px
		:left 0
		:padding 0
		:margin 0 0 0 -4px
		:text-align left
		:width 190px
		:z-index 9999
	ul li:hover > ul
		:display block
	ul ul li
		:width 100%
		:padding 0
	ul ul li a
		:color #60A3C1
		:padding 3px 8px 4px 14px
	ul ul li a:hover
		:color #edf5f8
		:background-color #60a3c1

#main-nav:after
	+clearfix

.tab_bar
	li
		:list-style none
		:display inline
		+rounded(5px)
		:background #ddd url() no-repeat
		:border 1px solid #999
		:padding 10px
	.selected
		:background #dd0 url() no-repeat
		:border 1px solid #333

#content
	+alpha_bg
	+rounded(20px)
	:padding 30px
	:border 1px solid #fff

	.disclaimer
		font-size: 12px
	h1
		+ct_title(#0092b7)
	h2
		+ct_title(#0092b7)
	h3
		+ct_title(#0092b7)
	:behavior url(/javascripts/PIE.htc)

.button_to
	display: inline
	
#ft
	color: #ceb58a
	min-height: 50px
	:margin-top 180px
	a
		color: #ceb58a
	.copyright
		float: left
		padding: 10px
	.footer_menu
		float: right
		padding: 10px
		li
			display: inline
			list-style: none
