/* =Structure */
html
	:background #d2e9df url(../images/bg_bottom.jpg) repeat-x left bottom

body
	:background transparent url(../images/bg_top.jpg) repeat-x left top
	
#wrapper
	:background transparent url(../images/tree.png) no-repeat left bottom
	:position relative
	:z-index 2
	
#container
	:width $page-width
	:margin auto

#hd
	:width $page-width
	:height 50px
	:margin-bottom 40px
	.logo
		:margin 10px 10px 0
		:width 100px
	.nav
		:float left
		// :width 700px
		:margin-top 20px

	.user_capsule
		background-color: #fff
		:min-width 200px
		+rounded(5px)
		border: 1px solid #999
		padding: 5px 10px 5px 5px
		float: right
		margin-top: 20px
		margin-right: 20px
		.pic
			+rounded(2px)
			float: left
			width: 36px
			:margin 2px 5px 0px 5px
			img
				+rounded(3px)
		.user
			:float left
			:margin-left 5px
			span
				:font-size 12px
		.loggedout
			:padding-left 10px
#logo
	:width 150px
	:float left

#bd
	:position relative
	:z-index 5
	:width $page-width
	:min-height 590px

.nav
	a
		:margin-left 6px

#main-nav
	+rounded
	:padding 0 5px
	:margin 5px 0
	:background-color #60a3c1
	li
		list-style: none
		display: inline
		margin: 5px 10px
		&.more
			:padding-left 15px
			:margin-left 5px
			:background url(../images/arrow_down_white.png) no-repeat 0 50% transparent
	a
		:display block
		:line-height 16px
		:text-decoration none
		:color #edf5f8
		:font-weight bold
		:font-size 14px
	ul
		:float left
	ul li
		:font-size 108%
		:color #fff
		:float left
		:position relative
		:margin 0
		:padding 10px 10px 9px
		:cursor pointer
	ul ul
		:background-color #fff
		:border 1px solid #60A3C1
		:display none
		:position absolute
		:top 34px
		:left 0
		:padding 0
		:margin 0 0 0 -4px
		:text-align left
		:width 190px
		:z-index 9999
	ul li:hover > ul
		:display block
	ul ul li
		:width 100%
		:padding 0
	ul ul li a
		:color #60A3C1
		:padding 3px 8px 4px 14px
	ul ul li a:hover
		:color #edf5f8
		:background-color #60a3c1

#main-nav:after
	+clearfix

.tab_bar
	:padding 0 10px 0 0
	li
		:list-style none
		:float left
		position: relative
		+rounded-side(top,5px)
		:background-color #ddd
		:border 1px solid #ccc
		:border-bottom none
		:padding 10px 10px 8px 10px
		:margin 0 5px 0 0
		:line-height 1.4em
		img
			:float left
			:margin-right 4px
		// a
			// :line-height 1.4em
	.selected
		:background-color #fff
		:margin-bottom -1px
		:padding 10px 10px 9px
		// :border 1px solid #333
	.home
		:padding 10px 10px 9px
		:margin-left 0
		&.selected
			:padding 10px
	.add
		:padding 10px 10px 10px 40px
		:background #ddd url(../images/add-small.png) no-repeat 10px 50%
		&.selected
			:background-color #fff
			:padding 11px 10px 10px 40px
		

.tab_bar:after
	+clearfix
	
#content
	+alpha_bg
	+rounded(20px)
	:padding 30px
	:border 1px solid #fff

	.disclaimer
		font-size: 12px
	h1
		+ct_title(#0092b7)
	h2
		+ct_title(#0092b7)
	h3
		+ct_title(#0092b7)
	:behavior url(/javascripts/PIE.htc)

.activity
	:margin-bottom 15px
	:width 80%
	.comment
		:margin-bottom 15px
	.pic
		float: left
		margin-right: 4px
		img
			+rounded(6px)
	.comment_box
		:float left
		:width 83%
		:min-height 44px
		:margin-left 15px
		:padding 10px 12px
		+rounded(6px)
		:background-color #d6e9f2
		span
			:font-size 75%
			:color #60A4C2
			:line-height 15px
			:vertical-align text-top
		.text
			:font-size 108%
			:padding 0
	.header
		.byline
			font-size: 75%
	.new_comment
		:margin-bottom 15px
	.title_feed
		:font-weight bold
		:font-size 16px
		:color #000
		:margin-bottom 15px
	.divider
		:width 99%
		:margin 30px 0 20px
		:border-top 1px solid #ddd
	.new_comment 
		input[type="text"]
			:width 77.7%
			:margin-right 15px
		input[type="submit"]
			:padding 7px 15px
	.tip
		:float left
		:margin 15px 0 0 -21px

.button_to
	display: inline
	
#ft
	color: #ceb58a
	min-height: 50px
	:margin-top 180px
	a
		color: #ceb58a
	.copyright
		float: left
		padding: 10px
	.footer_menu
		float: right
		padding: 10px
		li
			display: inline
			list-style: none
