ul.navbar
	width: 860px
	padding: 5px
	background: #ddf url() no-repeat
	border: 1px solid #999
	+rounded
	li
		list-style: none
		display: inline
		margin: 5px 10px
	
.child
	width: 800px
	min-height: 400px
	float: left
	border: 1px solid #ddf
	margin: 10px 10px 0px 0px
	padding: 5px
	+rounded(12px)
	+shadow
