/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 71, ../../app/stylesheets/partials/_globals.sass */
.clear {
  clear: both;
}

/* line 74, ../../app/stylesheets/partials/_globals.sass */
.pad {
  margin: 10px;
}

/* line 78, ../../app/stylesheets/partials/_globals.sass */
a {
  color: #0085ae;
  text-decoration: none;
}
/* line 81, ../../app/stylesheets/partials/_globals.sass */
a:hover {
  text-decoration: underline;
}

/* line 83, ../../app/stylesheets/partials/_globals.sass */
p {
  margin: 15px;
}

/* line 85, ../../app/stylesheets/partials/_globals.sass */
li {
  margin-left: 15px;
}

/* line 88, ../../app/stylesheets/partials/_globals.sass */
h1 {
  font-size: 200%;
}

/* line 90, ../../app/stylesheets/partials/_globals.sass */
h2 {
  font-size: 175%;
}

/* line 92, ../../app/stylesheets/partials/_globals.sass */
h3 {
  font-size: 135%;
}

/* line 94, ../../app/stylesheets/partials/_globals.sass */
h4 {
  font-size: 115%;
}

/* line 96, ../../app/stylesheets/partials/_globals.sass */
h5 {
  font-weight: bold;
}

/* line 98, ../../app/stylesheets/partials/_globals.sass */
h1, h2, h3, h4, h5 {
  color: #0085ae;
  margin: 0 0 4px 1px;
}

/* line 103, ../../app/stylesheets/partials/_globals.sass */
em {
  font-style: italic;
}

/* line 106, ../../app/stylesheets/partials/_globals.sass */
blockquote {
  border-left: 1px solid #999999;
  margin-left: 30px;
  margin-right: 25px;
}

/* line 111, ../../app/stylesheets/partials/_globals.sass */
strong {
  font-weight: bold;
}

/* line 116, ../../app/stylesheets/partials/_globals.sass */
#flash {
  width: 96%;
  margin: 20px auto;
}
/* line 119, ../../app/stylesheets/partials/_globals.sass */
#flash .error {
  background: #ffd1d6 url(../images/close_error.png) 99% 15% no-repeat;
  border: 2px solid #ff3333;
  cursor: pointer;
  padding: 9px 10px 10px 15px;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 123, ../../app/stylesheets/partials/_globals.sass */
#flash .success {
  background: #e6efc2 url(../images/close_success.png) 99% 15% no-repeat;
  border: 2px solid #c6d880;
  cursor: pointer;
  padding: 9px 10px 10px 15px;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
/* line 127, ../../app/stylesheets/partials/_globals.sass */
#flash .notice {
  background: #fff6bf url(../images/close_notice.png) 99% 15% no-repeat;
  border: 2px solid #ffd324;
  cursor: pointer;
  padding: 9px 10px 10px 15px;
  -moz-border-radius: 12px;
  -khtml-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

/* line 133, ../../app/stylesheets/partials/_globals.sass */
.form_group {
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999999;
  background-color: #eeeeee;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* line 141, ../../app/stylesheets/partials/_globals.sass */
textarea.collect {
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  padding: 10px;
  width: 600px;
  height: 200px;
  display: block;
}

/* line 151, ../../app/stylesheets/partials/_globals.sass */
.small_area {
  height: 150px;
}

/* line 154, ../../app/stylesheets/partials/_globals.sass */
input.email_collect {
  font-size: 24px;
  padding: 6px;
  background: #f9f9f9;
  border: 1px solid #eeeeee;
  -moz-border-radius: 15px;
  -khtml-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

/* line 162, ../../app/stylesheets/partials/_globals.sass */
.email_submit {
  background: #98cd65 url() no-repeat;
  border: 6px solid #a9de76;
  box-shadow: 1px 2px 8px #888888;
  -moz-box-shadow: 1px 2px 8px #888888;
  -webkit-box-shadow: 1px 2px 8px #888888;
  color: white;
  font-family: "Corben", arial, sans-serif;
  font-weight: bold;
  padding: 6px 6px 0px 6px;
  font-size: 16px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
/* line 51, ../../app/stylesheets/partials/_globals.sass */
.email_submit:hover {
  background-color: #a9de76;
  border: 6px solid #baef87;
  text-decoration: none;
}

/* line 165, ../../app/stylesheets/partials/_globals.sass */
.blue_button {
  background: #2392b8 url() no-repeat;
  border: 6px solid #34a3c9;
  box-shadow: 1px 2px 8px #888888;
  -moz-box-shadow: 1px 2px 8px #888888;
  -webkit-box-shadow: 1px 2px 8px #888888;
  color: white;
  font-family: "Corben", arial, sans-serif;
  font-weight: bold;
  padding: 6px 6px 0px 6px;
  font-size: 16px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
/* line 51, ../../app/stylesheets/partials/_globals.sass */
.blue_button:hover {
  background-color: #34a3c9;
  border: 6px solid #45b4da;
  text-decoration: none;
}

/* line 168, ../../app/stylesheets/partials/_globals.sass */
.red_button {
  background: #a9071e url() no-repeat;
  border: 6px solid #ba182f;
  box-shadow: 1px 2px 8px #888888;
  -moz-box-shadow: 1px 2px 8px #888888;
  -webkit-box-shadow: 1px 2px 8px #888888;
  color: white;
  font-family: "Corben", arial, sans-serif;
  font-weight: bold;
  padding: 6px 6px 0px 6px;
  font-size: 16px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
/* line 51, ../../app/stylesheets/partials/_globals.sass */
.red_button:hover {
  background-color: #ba182f;
  border: 6px solid #cb2940;
  text-decoration: none;
}

/* line 171, ../../app/stylesheets/partials/_globals.sass */
.green_button {
  background: #98cd65 url() no-repeat;
  border: 6px solid #a9de76;
  box-shadow: 1px 2px 8px #888888;
  -moz-box-shadow: 1px 2px 8px #888888;
  -webkit-box-shadow: 1px 2px 8px #888888;
  color: white;
  font-family: "Corben", arial, sans-serif;
  font-weight: bold;
  padding: 6px 6px 0px 6px;
  font-size: 16px;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  cursor: pointer;
}
/* line 51, ../../app/stylesheets/partials/_globals.sass */
.green_button:hover {
  background-color: #a9de76;
  border: 6px solid #baef87;
  text-decoration: none;
}

/* line 175, ../../app/stylesheets/partials/_globals.sass */
label {
  padding: 4px 3px;
  display: block;
}

/* line 179, ../../app/stylesheets/partials/_globals.sass */
.title_field {
  font-size: 120%;
  font-weight: bold;
  width: 500px;
  padding: 4px;
  margin-bottom: 18px;
}

/* line 187, ../../app/stylesheets/partials/_globals.sass */
.admin_title {
  float: left;
}

/* line 189, ../../app/stylesheets/partials/_globals.sass */
.new_button {
  margin-right: 1em;
  float: right;
  padding: 5px;
  text-align: center;
  width: 140px;
  border: 1px solid #0085ae;
  background-color: #eeeeee;
  font-size: 85%;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 199, ../../app/stylesheets/partials/_globals.sass */
.new_button img {
  vertical-align: middle;
  margin-top: -4px;
}

/* line 203, ../../app/stylesheets/partials/_globals.sass */
.admin_header {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 206, ../../app/stylesheets/partials/_globals.sass */
.admin_table {
  border: 1px solid #999999;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  width: 100%;
}
/* line 210, ../../app/stylesheets/partials/_globals.sass */
.admin_table th {
  padding: 5px;
  font-weight: bold;
  text-align: left;
}
/* line 214, ../../app/stylesheets/partials/_globals.sass */
.admin_table td {
  padding: 5px;
}

/* line 217, ../../app/stylesheets/partials/_globals.sass */
.label {
  float: left;
  width: 200px;
  font-weight: bold;
  margin: 5px 0px;
}

/* line 222, ../../app/stylesheets/partials/_globals.sass */
.data {
  margin: 5px 0px;
  float: left;
  width: 300px;
}

/* line 227, ../../app/stylesheets/partials/_globals.sass */
.current {
  padding-right: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 231, ../../app/stylesheets/partials/_globals.sass */
.asc {
  background-image: url("../images/arrow_up.png");
}

/* line 233, ../../app/stylesheets/partials/_globals.sass */
.desc {
  background-image: url("../images/arrow_down.png");
}

/* line 237, ../../app/stylesheets/partials/_globals.sass */
.new {
  float: right;
}

/* line 240, ../../app/stylesheets/partials/_globals.sass */
.divider {
  width: 66%;
  margin: 0 auto;
  border-bottom: 1px solid #dddddd;
  display: block;
  clear: both;
  height: 20px;
  margin-bottom: 20px;
}

/* line 250, ../../app/stylesheets/partials/_globals.sass */
.birthday_field {
  width: 100px;
}

/* line 1, ../../app/stylesheets/partials/_fonts.sass */
body {
  font: 16px Arial, helvetica, verdana, sans-serif;
  color: #555555;
}

/* line 5, ../../app/stylesheets/partials/_fonts.sass */
.ui-widget {
  font: 14px Arial, helvetica, verdana, sans-serif;
}

/* =Structure */
/* line 2, ../../app/stylesheets/partials/_underground_layout.sass */
body {
  background: #51371a url(../images/underground_body_bg.jpg) repeat-x;
}

/* line 5, ../../app/stylesheets/partials/_underground_layout.sass */
#container {
  background: #cee9dd url(../images/underground_bg.jpg) no-repeat;
  width: 1200px;
}

/* line 10, ../../app/stylesheets/partials/_underground_layout.sass */
#hd {
  width: 980px;
}
/* line 12, ../../app/stylesheets/partials/_underground_layout.sass */
#hd .logo {
  margin: 10px;
}
/* line 14, ../../app/stylesheets/partials/_underground_layout.sass */
#hd .nav {
  float: right;
  margin-top: 40px;
  margin-right: 20px;
}

/* line 19, ../../app/stylesheets/partials/_underground_layout.sass */
#bd {
  width: 980px;
}
/* line 22, ../../app/stylesheets/partials/_underground_layout.sass */
#bd #content {
  color: #ceb58a;
  -moz-border-radius: 20px;
  -khtml-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #51371a url() no-repeat;
  border: 1px solid #dddddd;
  padding: 25px;
  margin: 0 auto;
  width: 800px;
  margin-top: 15px;
}
/* line 31, ../../app/stylesheets/partials/_underground_layout.sass */
#bd #content label {
  font-size: 24px;
}
/* line 33, ../../app/stylesheets/partials/_underground_layout.sass */
#bd #content .disclaimer {
  font-size: 12px;
}
/* line 35, ../../app/stylesheets/partials/_underground_layout.sass */
#bd #content h1 {
  font-family: "Corben", arial, sans-serif;
  color: #ceb58a;
  text-shadow: black 3px 3px 0;
}

/* line 40, ../../app/stylesheets/partials/_underground_layout.sass */
#ft {
  width: 100%;
  color: #ceb58a;
  background: #51371a url() no-repeat;
  min-height: 50px;
}
/* line 45, ../../app/stylesheets/partials/_underground_layout.sass */
#ft #ft_contain {
  width: 980px;
}
/* line 47, ../../app/stylesheets/partials/_underground_layout.sass */
#ft #ft_contain a {
  color: #ceb58a;
}
/* line 49, ../../app/stylesheets/partials/_underground_layout.sass */
#ft #ft_contain .copyright {
  float: left;
  padding: 10px;
}
/* line 52, ../../app/stylesheets/partials/_underground_layout.sass */
#ft #ft_contain .footer_menu {
  float: right;
  padding: 10px;
}
/* line 55, ../../app/stylesheets/partials/_underground_layout.sass */
#ft #ft_contain .footer_menu li {
  display: inline;
  list-style: none;
}
