%b Reward Name:
%p
	= f.text_field :award_name, :class => 'title_field'
-#%b Description:
	%br
	= f.text_field :description, :style => 'width:500px;'
	%br
Cost:
%p
	= f.text_field :point_cost, :class => 'small'
	cherries
%p
	= f.submit 'Enter', :class => 'button_flat'
