-# Used to show Children Dashboard to Parent
= render 'adult/nav'

%br
- if @current_user.children.empty? && @current_user.supported_children.empty?
	%h2 Add a Child to get started!
	= form_for Child.new, :html => { :multipart => true } do |f|
		= render 'form', :f => f
- else
	%h4 This is your home
	- for child in @current_user.children
		= link_to child.display_name, child
