-# Used to show Children Dashboard to Parent
.child_profile.clearfix.parent_home
	/ = render @activities if @activities.present?
	#main-col
		.message
			%p Dear Parents
			%p.indent 
				Welcome to theCherryTree!  We are thrilled to have you here! 
			%p
				The CherryTree was created by child development experts, and parents just like you, to help with a problem we are all facing … how do we shape our children’s behavior and teach them important life skills in today's busy and distracted digital age?
			%p
				The CherryTree's incentive-based system lets you leverage technology in the parenting process.  There are lots of games and resources out there that focus on academic development, but the CherryTree will help you nurture your whole child. 
			%p
				You can set goals and assign fun activities that focus on (1) behavior and independence, (2) social and emotional well-being, (3) academics and school readiness, and (4) health and fitness. 
			%p
				As the CherryTree continues to grow, we hope to offer even more resources for parents, and even more fun things for kids to do and learn through our site.  Please reach out with any suggestions - we love feedback! 
			%p
				Warmly,
				%br
				The CherryTree Team
	#market.boxes
		%p
			Check out the cherryTree Market for toys, books and other materials to help your whole child grow.
		= link_to "Enter Store", "/store", :class => 'button_flat big'
		= link_to image_tag( 'market-small.png'), "/store", :class => 'market'
	#resources.boxes
		%p
			Visit our Parent Resources section for great parenting advice and information.
		= link_to "Go", resources_path, :class => 'button_flat big'
	-#
		faq.boxes
		%p
			Need some help with setting up goals and rewards? Check out these.
		= link_to "FAQ", "/faq", :class => 'button_flat big'