= form_for User.new, :url => collect_email_users_path, :html => { :mutipart => true } do |f|
	= f.text_field :email, :class => 'large', :placeholder => 'Email'
	= f.submit 'Sign Me Up!', :class => 'button_small green pop'