
.form_group
	%h1
		Forgot Password
	= form_tag :controller=>'users', :action=>'forgot_password' do
		%label Please enter the email for your account
		= text_field_tag :email, params[:email], :size=>30
		&nbsp;&nbsp;
		= submit_tag	"Submit", :class=>"button"
		&nbsp;&nbsp;Or
		= link_to "Cancel", new_session_path


