
.form_group
	%h1
		Forgot Password?
	= form_tag :controller=>'users', :action=>'forgot_password' do
		Please enter the email address for your account
		%br
		= text_field_tag :email, params[:email], :size=>30
		%br
		%div.clear	
		%label
			&nbsp;
		= submit_tag 'Submit', :class => "button blue"
		|
		= link_to 'Cancel', new_session_path
		%br


