%h1
	= possessize @current_user.name
	Home
= render 'nav'
#welcome
	%p
		Welcome to our prototype.  This is still very much a work in progress, but should give a feel for what we're trying to do.  Have fun!
	%p
		First, add a child or two with the child tab
	%p
		Then, you can send them kudos and messages
	%p
		More to come later...
		
%h3
	Recent Activity
= render @activities

