#hd
	= link_to image_tag( "logo.png", :alt=> "The Cherry Tree", :id => 'logo', :class => 'logo pop' ), root_path
	.nav
		= link_to "Our Blog", blog_index_path, :class => 'red_button ding'
		= link_to "Contact Us", new_contact_path, :class => 'blue_button ding'

