= form_for Contact.new , :html => { :mutipart => true } do |f|
	= f.text_field :email, :class => 'email_collect'
	= f.hidden_field :subject, :value => 'Splash page email collector'
	= f.submit 'Sign Me Up!', :class => 'email_submit ding'
