- content_for :left_column do
	%h1 New Contact

	= form_for @contact , :html => { :mutipart => true } do |f|
		= render 'form', :f => f
		.actions
			= f.submit 'Create', :class => 'button'
			|
			= link_to 'Cancel', :back
