.form_group
	= form_tag amazon_path do 
		Search Amazon:
		= text_field_tag :search_term
		For:
		= select_tag :search_index, options_for_select( ['Apparel', 'Books', 'DVD', 'Electronics', 'Toys', 'HealthPersonalCare', 'Kitchen', 'Music', 'DigitalMusic', 'SportingGoods', 'Video', 'VideoGames' ] )
		= submit_tag "Search", :class => 'button'
%br