
	.amzn_confirm
		= form_for Award.new do |f|
			= f.hidden_field :asin, :value => item.get('asin')
			= f.hidden_field :search_index, :value => @search_index
			= f.submit "Yeah, Add it!"
	.clear
	%hr