- content_for :left_column do
	%h1
		Welcome to The Cherry Tree!
		
	This is a prototype for the world's first Lifestyle Management game for Kids!
	
	%br
	%br
	Submit your email address and we'll email you as soon as we've launched.
	= render :partial => 'contacts/new'
	
	= render @articles

	
