#welcome_box
	%h1
		"Where Children Blossom"
	= render 'shared/flash', :flash => flash 
	%p
		Blah Blah
	%p
		Submit your email address and we'll email you as soon as we've launched:
		= render 'contacts/get_email'

- content_for :left_column do
	%h1
		Welcome to The Cherry Tree!
		
	This is a prototype for the world's first Lifestyle Management game for Kids!
	
	%br
	%br

	
	= render @articles

	
