-# Used to show the objective asignments to a child 

- if @assignments.present?
	%h3 Your Goals
	- for @assignment in @assignments
		%b= @assignment.objective.name
		( 
		= @assignment.point_value
		points per checkin.
		)
		- if @assignment.checkin_in_last?( Time.now.beginning_of_day )
			%br You checked in today!
		- else
			= render :partial => 'checkins/form'
		%br
		%br
	
- else
	%h3 No Goals
