%div[activity]
	- if activity.user == @current_user
		You
	- else
		= activity.user.display_name
		
	= activity.verb
		
	= time_ago_in_words( activity.created_at )
	ago.
	
	- if activity.target.present? && activity.target.is_a?( ObjectiveAssignment )
		%br
		Approve
		
	
	%br.clear

	