%div[assignment]
	.float_left{ :style => 'width:50px;'}
		= check_box_tag 'unassign_lesson', assignment.lesson.id, true, :lesson => assignment.lesson.id, :class => 'unassign_lesson', :child => @child.id, :assignment => assignment.id, :status => 'inactive'

	.float_left{ :style => 'width:400px;'}
		= assignment.lesson.name

	.float_left{ :style => 'width:150px;' } 
		= text_field_tag :objective_points, assignment.point_value, :id => "lesson_assignment_#{assignment.id}", :class => "lesson_points", :style => 'width:100px;', :child => @child.id, :assignment => assignment.id
	.clear
