Do you want to learn
= lesson_assignment.lesson.name
?
%br
= link_to "Yes", lesson_lesson_screen_path( lesson_assignment.lesson, lesson_assignment.lesson.lesson_screens.first ), :class => 'button green'

= link_to "No", '#', :class => 'button red'