.objective_dash.clearfix
	- if @assignments.present?
		%h3 Lessons and Activities
	- else
		%h3 No Lessons or Activities

	%table( width = 600 )
		%th
			%b Name
		%th
			%b Cherries
		%th
			%b Action
		- for assignment in @assignments
			-unless assignment.lesson.quizzes.first.taken_by?( @current_user )
				%tr
					%td
						= assignment.lesson.name
					%td
						= assignment.lesson.quizzes.first.point_value
					%td
						= link_to "Take It", lesson_screen_path( assignment.lesson, assignment.lesson.screens.first )
%br.clear
%br