-# 
	This file declares title, description, and other meta tags

- if @current_site.favicon.present?
	%link{ :rel => "shortcut icon", :href => @current_site.favicon.location }
- else
	%link{ :rel => "shortcut icon", :href => "images/favicon.ico" }

= csrf_meta_tag

%meta{ :name => 'description', :content => @page_description }
- if @page_keywords.present?
	%meta{ :name => 'keywords', :content => @page_keywords }

- for tag in @current_site.site_metatags
	%meta{ :name => tag.name, :content => tag.content }

%title
	= @page_title
